workflows:
  version: 2
  main:
    jobs:
      - build:
          filters:
            branches:
              only: develop

version: 2
  jobs:
    build:
      docker:
        - image: circleci/python:3.7.2
      steps:
        - checkout
        - run: ./install.sh
        - run: ./compile.sh
